.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  form {
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
  }
  
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  